@using BlogProjectGrA.Services
@using BlogProjectGrA.Models
@model BlogProjectGrA.Models.Blog


<tr> 
    <td>
        <span class="badge bg-primary" style="display:inline;float:left;">Views @Model.Posts.Sum(p => p.View)</span>
    </td>
        <td>
            <button type="button" class="btn btn-outline-info" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Click here to see the Posts">
             <a asp-controller="BrowseBlog" asp-action="Details" asp-route-id="@Model.Id" style="text-decoration: none; color: #000000;">   
             @Html.DisplayFor(modelItem => Model.Title)
             </a></button>
         </td>
         <td>
        @*<span class="badge bg-success">@Model.Posts.Select(t => t.Tags.Select(n => n.NormalizedName))</span>*@

             @foreach(var tag in Model.Posts.Select(t => t.Tags).Take(2))
                {
                    @*<partial name="_TagsPartial" model="tag"></partial>*@
                    <span class="badge bg-success">@tag.Select(n => n.NormalizedName)</span>
                }
             
         </td>
         <td>
             <a asp-controller="BrowseBlog" asp-action="Details" asp-route-id="@Model.Id" style="text-decoration: none; color: #000000;">  
             @Html.DisplayFor(modelItem => Model.CreatedAt)
             </a>
         </td>
         <td>
             <a asp-controller="BrowseBlog" asp-action="Details" asp-route-id="@Model.Id" style="text-decoration: none; color: #000000;">  
             @Model.Author.GetName()
             </a>
             <td>
                 @Model.Posts.Count
             </td>
         </td>
         @*<td>
        @if(Model.Posts.Count <= 0)
        {
            <p>No posts</p>
        }
       @*else
        {
        foreach(var post in Model.Posts)
        {
        <div>
            <h4>@post.Title</h4>
            <p>@post.Body</p>
                @foreach(var tag in post.Tags)
                {
                    <span class="badge bg-success">@tag.Name</span>
                }
            </div>
        } 
     }
    </td>  *@   
</tr> 
  

               @*<a asp-controller="Blog" asp-action="Index" asp-route-id="@Model.Id" style="text-decoration: none; color: #000000;">@Html.DisplayFor(modelItem => Model.Title)</a>*@

<script> C:\Users\brij_\Source\Repos\BlogProjectGrA\BlogProjectGrA\wwwroot\js\site.js</script>

 