@model BlogProjectGrA.Models.Post
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager



<div class="card" style="background-color:whitesmoke">
      <div class="card-header" style="padding: 10px; margin: 10px 5px; background-color:white" >
        <dl class="row">

        <dt class = "col-sm-4">
            Post Title
        </dt>
        <dd class = "col-sm-8">
            @Model.Title
        </dd>


        <dt class = "col-sm-4">
            Date
        </dt>
        <dd class = "col-sm-8">
           @Model.CreateAt
           &ensp;
           @if (Model.UpdateAt!= null)
                {
                    <span>(Edited: @Model.UpdateAt)</span> 
                }
        </dd>
        
        <dt class="col-sm-4">
            Views
        </dt>
       <dd class="col-sm-8">
            @Model.View
        </dd> 

        <dt class="col-sm-4">
            Tags
        </dt>
       <dd class="col-sm-8">
            <div class="card-header; badge badge-primary;" style="font-size:18px">
            @foreach(var tag in Model.Tags)
                {
                    <partial name="_TagsPartial" model="tag"></partial>
                }
            </div>
        </dd> 
        </dl>

        <br />
    <div class="row">
    @if (SignInManager.IsSignedIn(User) && Model.Blog.Author.Email == User.Identity.Name)
        {
        <dd>
            <a  asp-controller="Post" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-primary">Go to Post</a> &ensp;
            <a  asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">Edit Post</a> &ensp;
            <a class="btn btn-outline-danger" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id">Delete Post</a> 
        </dd>
        }
     
   </div>   
</div>
</div>
<br />
