@model BlogProjectGrA.Models.Post
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager



<div class="col-md-8">
      <div style="padding: 15px; margin: 30px 5px; border: 2px solid black; box-shadow: 5px 5px 10px #FF00FF">
        <dl class="row">

        <dt class = "col-sm-4  ">
          
            Post Title
        </dt>
        
        <dd class = "col-sm-8">
            @Model.Title
        </dd>
        <dt class = "col-sm-4">
            Description
        </dt>

        <dd class = "col-sm-8">
            @Model.Body
        </dd>
        <dt class = "col-sm-4">
            Date
        </dt>
        <dd class = "col-sm-8">
           @Model.CreateAt
        </dd>
        
        <dt class="col-sm-4">
            Views
        </dt>
       <dd class="col-sm-8">
            @Model.View
        </dd> 
        <br />
         <div class="row">
    <div class="col-md-4">

        <br />
                @if (Model.UpdateAt!= null)
                {
                    <span><strong>Updated: @Model.UpdateAt</strong> </span> 
                }
               
    </div>
    @if (SignInManager.IsSignedIn(User) && Model.Blog.Author.Email == User.Identity.Name)
        {
        @*<span>&nbsp;</span>*@ 
        <dd>
            <a  asp-controller="Post" asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary ">Edit Post</a>
        </dd>

        }
     
  </div>   
</div>
</div>
