@model BlogProjectGrA.Models.ViewModels.SearchViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    ViewData["Title"] = "Search result";
}

<h1>Search result for: '@ViewData["searchdetails"]'</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<h3>@ViewBag.Message</h3>

<hr />
@if (ViewData["searchBlogResult"] != null)
{   
<h3>Blogs containing: '@ViewData["searchdetails"]'</h3>
<table class="table rounded border border-dark">
    <thead>
        <tr>
            <th>
                Views
            </th>
            <th>
                Title
            </th>
            @if( SignInManager.IsSignedIn(User))
                {
                    <th>
                       My Posts
                    </th>
                }
            <th>
                Post Tags
            </th>
            <th>
                Date
            </th>
            <th>
                Author
            </th>
            <th>
                Posts
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Blogs)
        {
            
            <partial name="_BrowseBlogPartial" model="item"></partial>
        }
    </tbody>
    </table>
}

    <h3>@ViewData["NoSearchResult"]</h3>

<br />
@if (ViewData["searchPostsAndTagResult"] != null)
{
   <h3>Posts and/or tags containing: '@ViewData["searchdetails"]'</h3>
       <div class="row">
            <div class="col-md-8">
                @foreach(var item in Model.Posts)
        {
            
            <partial name="_PostPartial" model="item"></partial>
        }
            </div> 
       </div>
}
