@using BlogProjectGrA.Services
@model IEnumerable<BlogProjectGrA.Models.Blog>
@using X.PagedList;
@using X.PagedList.Mvc.Core;


@{
    ViewData["Title"] = "My Blogs";
}
@if (TempData["SuccessMessage"] != null)
{
   <div class="alert alert-warning" role="alert">
    @TempData["SuccessMessage"]
   </div> 
}
<h1>My Blogs</h1>
<hr />
<p>
    <a asp-controller="Blog" asp-action="Create" class="btn btn-primary">Create a new blog</a>
</p>



<table class="table rounded border border-dark" style="background-color:white">
    <thead class="table" style="background-color:whitesmoke">
        <tr>
            <th>
                Views
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                My Posts
            </th>
            <th>
                Tags
            </th>
            <th>
                Date
            </th>
            <th>
                Author
            </th>
            <th>
                Posts
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            
            <partial name="_BrowseBlogPartial" model="item"></partial>
        }
    </tbody>
</table>

@Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new{ page = page,
searchfor = @Context.Request.Query["searchfor"], searchby = @Context.Request.Query["searchfor"]}),
new X.PagedList.Web.Common.PagedListRenderOptions{
 LiElementClasses= new string[]{"page-item"},
 PageClasses = new string[]{"page-link"}
})


@*@foreach (var item in Model) //Old code
{
   <partial name="_BlogPartial"model="item"></partial>
}*@

