@model BlogProjectGrA.Models.ViewModels.DateByPostVM
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Details";
}
<h2><b>Blog Title </b></h2>
<h3 class="card bg-primary text-white text-center"style="width:250px; box-shadow: inset 5px 5px 10px green ">@Model.Blog.Title</h3>

@*<h3> 
    <a asp-controller="Post" asp-action="Create">Create a post</a>
    </h3>*@

<div>
    <hr />
    <div class="row">
            <div class="col-md-8">
         @if (Model.Blog.Posts.Count > 0)
        {    
            @foreach(var item in Model.Posts)
            {
                <partial name="_PostPartial" model="item" ></partial>
            }
         }
         else
         {
           <h3>No posts have been made on this blog.</h3>
         }
        </div>
            <div class="col-md-4">
                <div style="padding: 15px; margin: 30px 5px; border: 2px solid black; box-shadow: 5px 5px 10px #FF00FF">
        <dl class="row">

        <dt class = "col-sm-4" style="width:100px;">
            Blog Title
        </dt>
        <dd class = "col-sm-8" style="max-width:250px;">
            @Model.Blog.Title
        </dd>

        <dt class = "col-sm-4" style="width:100px;">
            Description
        </dt>
        <dd class = "col-sm-8" style="max-width:250px; overflow-wrap:break-word;">
            @Model.Blog.Body
        </dd>

        <dt class = "col-sm-4" style="width:100px;">
            Date
        </dt>
        <dd class = "col-sm-8" style="max-width:250px;">
           @Model.Blog.CreatedAt
        </dd>
        
        <dt class="col-sm-4" style="width:100px;">
            Author
        </dt>
        <dd class="col-sm-8" style="max-width:250px;">
            @Model.Blog.Author.FirstName @Model.Blog.Author.LastName 
        </dd>
        
        @if (SignInManager.IsSignedIn(User) && Model.Blog.Author.Email == User.Identity.Name)
        {
        @*<span>&nbsp;</span>*@ 
        <dd>
             @*<button type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Click here to create Tag & Post">*@
            <a class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Click here to create Post with Tags" asp-controller="Post" asp-action="Create">Create a new post</a>
            <a class="btn btn-outline-primary" asp-controller="Blog" asp-action="Edit" asp-route-id="@Model.Blog.Id">Edit blog</a>
            <a class="btn btn-outline-danger" asp-controller="Blog" asp-action="Delete" asp-route-id="@Model.Blog.Id">Delete blog</a> 
        </dd>
        }
    </dl>
    </div>

    
    <div class="list-group row">
        <a asp-action="Details"  class=" list-group-item list-group-item-action" aria-current="true">Show all posts</a>  
        @foreach(var item in Model.Dates)
        {
                    var isActive = item.Date.Year == Model.Year && item.Date.Month == Model.Month;
                    
                    <a asp-route-year="@item.Date.Year" asp-route-month="@item.Date.Month" class="@(isActive ? "active" : "") list-group-item list-group-item-action" aria-current="true">  
                
                @item.Date.ToString("yyyy MMMM") @item.Count posts
            </a>
        }
    </div>
     </div>
     </div>
    </div>


<script> C:\Users\brij_\Source\Repos\BlogProjectGrA\BlogProjectGrA\wwwroot\js\site.js</script>



@*<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
