@model BlogProjectGrA.Models.ViewModels.DateByPostVM
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using X.PagedList;
@using X.PagedList.Mvc.Core;


<div class="container mt-3">
   
    
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area=""  asp-controller="Home"  asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="BrowseBlog" asp-action="Index">All Blogs</a></li>
        
        <li class="breadcrumb-item"><a >Details</a></li>
        
    </ul>
</div>
@{
    ViewData["Title"] = "Details";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-warning" role="alert">
        @TempData["SuccessMessage"]
   </div> 
}
@if (TempData["PostMessage"] != null)
{
   <div class="alert alert-warning" role="alert">
    @TempData["PostMessage"]
   </div> 
}
@if (TempData["EditBlogMessage"] != null)
{
   <div class="alert alert-warning" role="alert">
    @TempData["EditBlogMessage"]
   </div> 
}
@if (TempData["DeletePostMessage"] != null)
{
   <div class="alert alert-warning" role="alert">
    @TempData["DeletePostMessage"]
   </div> 
}
<br />
<h1 style="text-align:center"><b>@Model.Blog.Title</b></h1>

<div>
    <hr />
    <div >
        <div class="col-md-12">
            @if (!string.IsNullOrEmpty(Model.Blog.ImageUrl))
            {
             <div style="background-color:white"> 
                <img class="img-fluid" style="height:300px;width:100%;object-fit:scale-down;object-position:center" src="~/@Model.Blog.ImageUrl" />
                </div>
            }
        </div>
        </div>
        <br />

        <div class="row">
        <div  class="col-md-8">
        <div style="background-color:white;width:auto;height:auto">
            <div style="padding:12px;">
                <dl class="row">
                    <dt>
                        Blog Title
                    </dt>
                    <dd>
                        @Model.Blog.Title
                    </dd>

                    <dt>
                        Description
                    </dt>
                    <dd>
                        @Model.Blog.Body
                    </dd>

                    <dt class="col-sm-4">
                        Date
                    </dt>
                    <dd class="col-sm-8">
                        @Model.Blog.CreatedAt
                    </dd>

                    <dt class="col-sm-4">
                        Author
                    </dt>
                    <dd class="col-sm-8">
                        @Model.Blog.Author.FirstName @Model.Blog.Author.LastName
                    </dd>

                    @if (SignInManager.IsSignedIn(User) && Model.Blog.Author.Email == User.Identity.Name)
                    {
                    <hr />
                    <dd>
                        @{ViewData["selectedBlogId"] = Model.Blog.Id;}
                        <a class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Click here to create Post with Tags" asp-controller="Post" asp-action="Create" asp-route-blogId="@Model.Blog.Id">Create a new Post</a>
                        <a class="btn btn-outline-primary" asp-controller="Blog" asp-action="Edit" asp-route-id="@Model.Blog.Id">Edit Blog</a>
                        <a class="btn btn-outline-danger" asp-controller="Blog" asp-action="Delete" asp-route-id="@Model.Blog.Id">Delete Blog</a> 
                    </dd>
                    }
                </dl>
            </div>
        </div>
        </div>

        <br class="col-md-1"/>

        <div class="col-md-4">
        <div class="list-group row">
            <a asp-action="Details" class=" list-group-item list-group-item-action" aria-current="true">Show all posts</a>
            @foreach (var item in Model.Dates)
            {
                var isActive = item.Date.Year == Model.Year && item.Date.Month == Model.Month;

                <a asp-route-year="@item.Date.Year" asp-route-month="@item.Date.Month" class="@(isActive ? "active" : "") list-group-item list-group-item-action" aria-current="true">

                    @item.Date.ToString("yyyy MMMM") (@item.Count posts)
                </a>
            }
        </div>
    </div>

  </div>
</div>


<br />
<br />
<div class="row">
    <hr />
    <h3 style="text-align:center">Posts</h3>
    

    <div class="col-md-12">
        @if (Model.Blog.Posts.Count > 0)
        {
            @foreach (var item in Model.Posts.OrderByDescending(p=>p.CreateAt))
            {

               <partial name="_PostPartial" model="item"></partial>
            }
        }
        else
        {
            <h3>No posts have been made on this blog.</h3>
        }
    </div>
    
</div>