@model BlogProjectGrA.Models.Post
@using BlogProjectGrA.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Post Details";
    var ImagesList = Model.Images.ToList();
}

<div class="container mt-3">


    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="BrowseBlog" asp-action="Index">All Blogs</a></li>
        @* @if (SignInManager.IsSignedIn(User))
        {
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Blog" asp-action="Index">My blogs</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Blog" asp-action="Index">My posts</a></li>
        }*@
        <li class="breadcrumb-item"><a asp-area="" asp-controller="BrowseBlog" asp-action="details" asp-route-id="@Model.Blog.Id">Blog Details</a></li>
        <li class="breadcrumb-item"><a>Comments</a></li>

    </ul>
</div>

@if (TempData["commentMessage"] != null)
{
   <div class="alert alert-warning" role="alert">
    @TempData["commentMessage"]
   </div> 
}
@if (TempData["commentEditMessage"] != null)
{
   <div class="alert alert-warning" role="alert">
    @TempData["commentEditMessage"]
   </div> 
}
@if (TempData["commentDeleteMessage"] != null)
{
   <div class="alert alert-warning" role="alert">
    @TempData["commentDeleteMessage"]
   </div> 
}
@if (TempData["EditPostMessage"] != null)
{
   <div class="alert alert-warning" role="alert">
    @TempData["EditPostMessage"]
   </div> 
}

<hr />
<div class="table-responsive">
<div class="card">
  <div class="card-header">
    <h3><span style="align-self:center">@Model.Title</span> </h3>
  </div>
  <div class="card-body">
      <div>
            <div class="badge badge-pill badge-primary" style="color:black; background-color:whitesmoke; float: left" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Views">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 18 18">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                </svg> @Model.View</div>
                &ensp;
            <div class="badge badge-pill badge-primary" style="color:black; background-color:whitesmoke; float:left" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Comments">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
            </svg> @Model.Comments.Count</div>
            <div style="float: right">
                <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Post created">@Model.CreateAt</span>
                        @if (Model.UpdateAt != null)
                        {
                            <div style="font-size:12px;">
                            <span>(Edited @Model.UpdateAt)</span>
                            </div>
                        }
            </div>
      </div>
      <div>
          <div class="col-12">
             
          @if(ImagesList.Count != 0)
          { 
          <br />
          <br />
        <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          @for (int i = 0; i < ImagesList.Count; i++)
          {
                <div class="@(i==0 ? "carousel-item active" : "carousel-item")">
                    <img class="d-block w-100 img-fluid" style="height:300px;width:100%;object-fit:scale-down;object-position:center" src="~/@ImagesList[i].Url" alt="">
                </div>
          }
          @*@foreach(var item in Model.Images.Select(p => p.Url))
          {
              <div class="carousel-item active">
              <img src="~/@item" alt="" class="d-block w-100">
              </div> 
          }*@
          </div>
 <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
}
              <blockquote class="blockquote mb-0">
            <div>
                <br/>
            @if (Model.Body.Length <= 150)
                {
                    <span>@Model.Body</span>
                }
                else
                {
                    <span>@Model.Body.Substring(0, 150)...</span>
                }
                </div>
                <br />
            <footer class="blockquote-footer">Blogger <cite title="Authors name">@Model.Blog.Author.FirstName @Model.Blog.Author.LastName</cite></footer> @*???*@
        </blockquote>
            </div>
                @if (SignInManager.IsSignedIn(User) && Model.Blog.Author.Email == User.Identity.Name)
                {
                    <hr />
                    <dd>
                        <a class="btn btn-outline-primary" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id">Edit Post</a> &ensp;
                        <a class="btn btn-outline-danger" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id">Delete Post</a>
                    </dd>
                }
      </div>
  </div>
</div>
</div>

<div class="table-responsive">
<div class="card-header; badge badge-primary;" style="font-size:18px"><span style="color:black">Tags: </span>
      @foreach(var tag in Model.Tags)
                {
                    <partial name="_TagsPartial" model="tag"></partial>
                }
  </div>
  </div>
<br />
<br />

<form asp-action="Create" asp-controller="Comment" method="post" asp-route-id="@Model.Id">
    <div class="form-group">
        <b>Leave a comment</b>
        <textarea @*id="commentBody"*@ name="commentBody" class="form-control"></textarea>
    </div>
    <span>&ensp;</span>
    <div class="form-group">
        <input type="submit" value="Click to comment" class="btn btn-success" />
    </div>
</form>
<hr />
<h5 style="text-align:center">Comments</h5>
<br />
<div class="table-responsive">
    @if(Model.Comments.Count > 0)
    {
        @foreach (var item in Model.Comments.OrderByDescending(c => c.CreatedAt))
        {
        <partial name="_CommentPartial" model="item"></partial>
        }
    }
    else
    {
        <h5 style="text-align:center;"><u>No comments have been made.</u></h5>
    }
</div>
<br />
<br />

