@model IEnumerable<BlogProjectGrA.Models.Post>
@using X.PagedList;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
}
<div class="container mt-3">
    <h2>Breadcrumbs</h2>
    <p>The .breadcrumb class indicates the current page's location within a navigational hierarchy:</p>
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"></a></li>
        <li class="breadcrumb-item"><a href="#">Summer 2017</a></li>
        <li class="breadcrumb-item"><a href="#">Italy</a></li>
        <li class="breadcrumb-item active">Rome</li>
    </ul>
</div>

<h1>Posts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Blog.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.View)
            </th>
            <th>
                Post Id
            </th>
        </tr>
    </thead>
    <tbody>*@
@foreach (var item in Model) {
        @*<tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>

            <td>
                @Html.DisplayFor(modelItem =>item.Blog.Title)
            </td>
            <td>
                @Html.DisplayFor(model => item.View)
            </td>*@
            <partial name="_PostPartial"model="item"></partial>
           @* <td>

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>*@
}

      
 
   

@Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new{ page = page,
searchfor = @Context.Request.Query["searchfor"], searchby = @Context.Request.Query["searchfor"]}),
new X.PagedList.Web.Common.PagedListRenderOptions{
 LiElementClasses= new string[]{"page-item"},
 PageClasses = new string[]{"page-link"}
})
